.header {
  width: 1440px;
  height: 768px;
  position: relative;
}

.bg {
  width: 100%;
  height: 100%;
  display: block;
}

.logo {
  position: absolute;
  top: 40px;
  left: 46%;
  z-index: 10;
  width: 101.62px;
  height: 23px;
}



.h1 {
font-family: "Bebas Neue", Arial, sans-serif; /* исправлено */

font-size: 60px;
letter-spacing: 10px;
color: white;
position: absolute;
top: 370px;
left: 50%;
z-index: 10;
width: 575px;
height: 72px;
white-space: nowrap; /* не даёт переноса на новую строку */

 /*overflow: hidden; прячет лишний текст за границей блока */

text-overflow: ellipsis; /* показывает «...» если текст не помещается */

transform: translateX(-50%); /* опционально: центрирует по горизонтали относительно left:46% */
display: block; /* чтобы text-overflow работал надёжно */

}
.text{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  position: absolute;
  top: 450px;
  left: 52%;
  z-index: 10;
  width: 386px;
  height: 22px;
  white-space: nowrap; /* не даёт переноса на новую строку */

 /*overflow: hidden; прячет лишний текст за границей блока */

  text-overflow: ellipsis; /* показывает «...» если текст не помещается */

  transform: translateX(-50%); /* опционально: центрирует по горизонтали относительно left:46% */
  display: block; /* чтобы text-overflow работал надёжно */  

}
.scroll{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  position: absolute;
  top: 680px;
  left: 50%;
  z-index: 10;
  width: 117px;
  height: 15px;
  white-space: nowrap; /* не даёт переноса на новую строку */

 /*overflow: hidden; прячет лишний текст за границей блока */

  text-overflow: ellipsis; /* показывает «...» если текст не помещается */

  transform: translateX(-50%); /* опционально: центрирует по горизонтали относительно left:46% */
  display: block; /* чтобы text-overflow работал надёжно */  
}

.navbar{
  display: flex;
  align-items: center;
  width: 1441px;
  height: 65px;


}
.logob{
  width: 80px;
  height: 18px;
  margin-left: 220px;


}
.menu{
  width: 500px;
  height: 55px;
  margin-left: 550px;
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 30px;
}

.menu li{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu a {
    text-decoration: none;
    color: #48555B;
}
.menu a.active{
  color: #00A4E5;

}
.container{
  width: 100%;
  max-width: 1440px;

;
}
h2{
  text-transform: uppercase;
}

.story{

}
.container{

}
.story_inner{
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 50px;

}
.story_left{
  max-width: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 50px;

}
.story_right{
  display: flex;
  align-items: flex-end;
}
.story_item{
  font-size: 24px;
  color: white;
  font-weight: 700;
  width: 140px;
  height: 224px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 15px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;

}
.story_item:nth-child(1){
  background-image: url(../img/plan.png);
}
.story_item:nth-child(2){
  background-image: url(../img/manage.png);
}
.story_item:nth-child(3){
  background-image: url(../img/deliver.png);
  margin-right: 0px;
}
.story_title_2{
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.story_title_2:after{
  content: '';
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
  display: block;
  margin: 10px auto 0;
}
.story_title_3{
  font-weight: bold;
  font-size: 20px;
  color: #48555B;
  margin: 0 0 70px 0;


}
.accent-color{
  color: #00A4E5;
}
.story_text{
  color: #48555B;
  margin: 0;

}
.capabilities{

  margin: 0 auto;
  max-width: 1050px;
  padding-top: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.our_capabilities{
  display: flex;
  max-width: 1000px;
  height: 40px;

}
.our_cap{
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 199px;
  margin: auto;
  margin-left: 0px;

}
.our_cap:after{
  content: '';
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
  display: block;
  margin-top: 15px;
  margin-left: 0px;
}
.cap_text{
max-width: 430px;
margin: auto;
margin-left: 160px;
font-size: small;
}
.button{
display: flex;
align-items: center;
justify-content: center;
width: 150px;
height: 40px;
background-color: #00A4E5;
color: white;
margin: auto;
margin-right: 0px;


}
.project{
  display: flex;
  max-width: 1000px;

}
.cap_item1{
  width: 295px;
  height: 330px;
  margin-left: 0px;
  margin-top: 100px;
  border: 1px solid #E6E6E6;
  padding: 30px;
  box-sizing: border-box;

}
.cap_item2{
  width: 295px;
  height: 330px;
  margin-left: 80px;
  margin-top: 100px;
  border: 1px solid #E6E6E6;
  padding: 30px;
  box-sizing: border-box;

}
.cap_item3{
  width: 295px;
  height: 330px;
  margin-left: 90px;
  margin-top: 100px;
  border: 1px solid #E6E6E6;
  padding: 30px;
  box-sizing: border-box;

}
.cap_icon{
  
}
.cap_head{
  font-weight: bold;
  font-size: 14px;
  padding-top: 20px;
}
.cap_item_text{
  padding-top: 20px;
  font-size: 12px;
}

.get-in-touch{
  width: 1440px;
  height: 449px;
  background-image: url(../img/get-in-touch.png);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.get-text{
  width: 350px;
  height: 72px;
  color: #48555B;
  font-size: 32px;
  font-weight: 650;
  margin-top: -110px;

}
.get-button{
display: flex;
align-items: center;
justify-content: center;
width: 150px;
height: 40px;
background-color: #00A4E5;
color: white;
margin-top: 50px;

}

.newsletter{
 width: 1440px;
 height: 100px;
 background-color: black;
display: flex;
align-items: center;
justify-content: center;
}

.newstext{
 width: 300px;
 height: 30px;
 color: white;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 22px;
 font-weight: bold;

}

.mail{


}
input{
width: 250px;
height: 35px;
padding-left: 10px;

}
input::placeholder{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
}
button{
display: flex;
align-items: center;
justify-content: center;
width: 150px;
height: 40px;
background-color: #00A4E5;
color: white;
margin: auto;
margin-right: 0px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 13px;
 font-weight: bold;
}

.footer{
width: 1440px;
height: 300px;
}
.company{
width: 1440px;
height: 260px;
background-color: #141A20;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:white;
display: flex;
align-items: center;
justify-content: center;

}

.company_logo{
  width: 250px;
  height: 148px;
  margin-left: 10px;
  margin-top: -40px;

}
.text1{


}
.complogo{
  margin-top: 20px;

}
.companytext{
  width: 350px;
  height: 76px;
  font-size: 14px;
  margin-top: 20px;

}
.links{
display: flex;
align-items: center;
justify-content: center;
padding: 80px;
margin-top: -10px;
line-height: 2.0;
}
.links1{
  padding-right: 30px; 
}
.links2{
  margin-top: -30px;
  padding-right: 30px;
  
}
.links3{
  margin-top: -30px; 

}
.contact{

}
.socials{
  margin-left: 100px;
  margin-top: -100px;

}
.footertext{
width: 1440px;
height: 40px;
background-color: black;
color:white;
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
display: flex;
align-items: center;
justify-content: center;
}